html,
body {
  margin: 0;
  padding: 0;

  background: url(images/table.png);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}

button {
  background-color: gold;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}

button#draw-btn {
  align-self: stretch;
  &:disabled {
    cursor: not-allowed;
  }
}

button#shuffle-btn {
  margin-top: 5px;
  align-self: flex-start;
}

div.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 240px;
  width: calc(240px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 10px;
  display: inline-block;
}

img.card {
  width: 100%;
  height: 100%;
}

.upper-block {
  align-self: flex-start;
  display: flex;
  p {
    display: inline;
    margin: 15px 20px;
    font-size: 1.3rem;
    align-self: center;
  }
}

h2 {
  margin: 10px;
}
